{{!-- hbs para menú de supervisores - no tiene CRUD de ordenes--}}
<link href="/CSS/empleados.css" rel="stylesheet" type="text/css">

<br><br><br>

<div class="wrapper">
    {{!--Card para CRUD de empleados--}}
    <div class="card text-center">
        <div class="card-header bg-info">
            <h3 class="text-light">Empleados</h3>
        </div>

        <div class="card-body">
            <div class="form-group">
                <img src="/img/silueta.png" class="card-img-top mx-auto m-2 w-50">                 
                    <form action="/mainoperator" method="get">
                        <button class="btn btn-success btn-block">
                            Gestión de empleados
                        </button>
                    </form>
                    <br>
            </div>
        </div>
    </div>
</div>


    