thead tr th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-responsive{
    height: 200 px;
}

.table{
    font-size: 12.5px;
}

.form-control{
    font-size:12px;
}

.espacio-sup-inf{
    padding-top: 2px;
    padding-bottom: 2px;
}

.espacio{
    padding-left: 16px;
    padding-right: 16px;
}


.card-img-top{
    object-fit: contain;
    max-height: 70%;
}

.contenedor-centrado{
    display: inline-flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    max-width: 1000px;
    width: 50%;
    border: 3px solid #2271B3;
    border-radius: 30px;
}

.contenedor-centrado2{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.contenedor-izquierda {
    display: inline-flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    float: left;
    max-width: 780px;
    width: 50%;
    border: 3px solid #2271B3;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}

.contenedor-derecho {
    display: inline-flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    float: right;
    max-width: 780px;
    width: 50%;
    border: 3px solid #2271B3;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: auto;
  }

div.ex1 {
    width: 500px;
    margin: auto;
    border-radius: 30px;
    border: 3px solid #2271B3;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: auto;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 16px;
    padding-right: 16px;
    max-width: 110%;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: auto;
    grid-auto-rows: minmax(100px, auto);
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    max-width: 100%;
}

.wrapper3{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: auto;
    grid-auto-rows: minmax(100px, auto);
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    max-width: 100%;
}

.wrapper4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: auto;
    grid-auto-rows: minmax(45px, auto);
    padding-top: 10px;
    
}

.espaciowrapper4{
    padding-left: 2px;
    padding-right: 2px;
}