
<script type="text/javascript">
    function confirmation(){
        if(confirm("¿Está seguro de actualizar los datos de la orden ?")){
            return true;
        }else{
            return false;
        }
    }
</script>

{{!--HBS para filtrar Ordenes de productividad por Fecha Inicial- Fecha Final y área--}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header bg-info">
                    <h3 class="text-light">ELIMINAR OT</h3>
                </div>
                <div class="card-body ">
                    <form action="/deleteot" method="post" onsubmit="return confirmation()">
                        <div class="form-group">                     
                            <p class="text-primary">Fecha_Inicial</p>
                                <input type="Date" name="date_1" class="form-control"  aria-label="date1">
                            <p class="text-primary">Fecha_Final</p>
                                <input type="Date" name="date_2" class="form-control" aria-label="date_2" >
                           <p class="text-primary">Orden</p>                                
                                <input type="search" class="form-control rounded" placeholder="Orden" aria-label="Search" aria-describedby="search-addon"  name="orden"/>                                  
                           <p class="text-primary">Módulo</p>                                
                                <input type="search" class="form-control rounded" placeholder="Módulo" aria-label="Search" aria-describedby="search-addon"  name="modulo"/>
                            <p class="text-primary">Área</p>
                                <div class="input-group mb-3">
                                    <select class="custom-select" name="area">
                                        <option value="acolchado">Acolchado</option>
                                        <option value="almohada">Almohada</option>
                                        <option value="corte">Corte</option>
                                        <option value="confeccion">Confección</option>
                                        <option value="empaque">Empaque</option>
                                    </select>
                                </div>
                            <div class="form-group">
                                <button class="btn btn-danger btn-block "> ELIMINAR</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>