
<h1 class="text-primary text-center"> BIENVENIDO </h1>
<div class="container p-4">
    <div class="row">
    {{!-- ELSE -> Código excel --}}         
            <div class='col-md-4 mx-auto'>
                <div class="card card-body text-center bg-dark">
                    <p class="text-light">Pulse aqui para cargar un excel</p>
                    <a href="/excel" class="btn btn-danger text-light">Cargar excel</a>
                </div>
            </div>
    
    </div>
</div>