<div class="container-fluid text-center">
    <table class="table table table-bordered table-light table-striped table-hover">
        <thead class="bg-dark text-light">
            <form action="/acolchado" method="">
                <button class="btn btn-primary mr-1"> 
                    Descargar PT
                </button>
            </form>
        </thead>
    </table>
</div>
